# main
django>4,<5
djangorestframework
markdown
pytest
pytest-django
python-decouple
# doc
drf-yasg
drf-spectacular
# auth
djoser
djangorestframework_simplejwt
# deploy
gunicorn
# third party
django-cors-headers
redis
django-redis
celery
django-filter
black
faker
# DB
psycopg2-binary